<a href="https://colab.research.google.com/github/gamedaygeorge/kids-code-friday/blob/main/03_Kids_Code_Friday_Variables_and_Inputs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello Bernie and Nina!
Welcome to Kids Code Friday. Today let's have fun with variables!

Remember, in a notebook we have a list of cells. Cells contain either explanatory text or executable code and its output. Click a cell to select it.

## Code cells
Below is a **code cell**. Once the toolbar button indicates CONNECTED, click in the cell to select it and execute the contents in the following ways:

* Click the **Play icon** in the left gutter of the cell;
* Type **Cmd/Ctrl+Enter** to run the cell in place;
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists); or
* Type **Alt+Enter** to run the cell and insert a new code cell immediately below it.

There are additional options for running some or all cells in the **Runtime** menu.

In [1]:
print('Hello Bernie and Nina!')

Hello Bernie and Nina!

# Variables
Variables are a key part of coding. Variables are used to store values so they can be re-used or updated. There are different types of variables:

- Integers (whole numbers)
- Floats (decimal numbers)
- Strings (letters, words)

Here are some examples.

## Integer Examples

In [2]:
ninas_age = 6
bernies_age = 11

ninas_age + bernies_age

17

## Float Examples

In [4]:
high_temperature = 35.5

low_temperature = -5.3

temperature_range = 35.5 - low_temperature

print(str(temperature_range))

40.8

## String Examples

In [9]:
younger_kids_name = 'Nina'
younger_kids_age = min(ninas_age, bernies_age)

older_kids_name = 'Bernie'
older_kids_age = max(ninas_age, bernies_age)

print(younger_kids_name + ' is youngest at ' + str(younger_kids_age) + ' years.')
print(older_kids_name + ' is oldest at ' + str(older_kids_age) + ' years.')

age_difference = older_kids_age - younger_kids_age

print(older_kids_name + ' is ' + str(age_difference) + ' years older than ' + younger_kids_name + '.')

Nina is youngest at 6 years.
Bernie is oldest at 11 years.
Bernie is 5 years older than Nina.

Notice that if you want to print a number, you need to use `str()` to convert it to a string.

In [10]:
my_number = 12

print(str(my_number))

12

Use `type()` to see what type a variable is.

In [15]:
type(my_number)

int

In [16]:
type(older_kids_name)

str

# Inputs
Now we'll look at collecting some inputs!

In [21]:
input_number = input()

1.23

In [23]:
print('Your number is ' + str(input_number) + '!')

Your number is 1.23 !

In [27]:
input_name = input('What is your name? ')

What is your name? Bernie

In [28]:
print('Hi ' + input_name + '!')

Hi Bernie!

## Bonus
See if you can ask some questions and make a sentence using names and numbers. NRL teams, gymnastics, lambos, Olympics - use your imagination!